<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="osp.leobert.android.composeworkshop">


    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ComposeWorkShop">
        <activity
            android:name=".post21.P21DrawSample"
            android:exported="true" />
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.ComposeWorkShop.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".post21.P21LayoutSample" />
        <activity android:name=".post26.P26TextSample" />
        <activity android:name=".post26.P26TextFieldSample" />
        <activity android:name=".post26.P26ButtonSample" />
        <activity android:name=".post27.P27IconSample" />
        <activity android:name=".post27.P27ImageSample" />
        <activity android:name=".post28.P28SwitchRbCbSample" />
        <activity android:name=".post29.P29BoxRowColumnSample" />
        <activity android:name=".post30.P30ColumnRowScrollSample" />
    </application>

</manifest>